.git
.github
.idea
.vscode
vendor
node_modules
var
public/uploads
data-platform/**/.env
data-platform/**/.venv
data-platform/**/__pycache__
data-platform/**/.pytest_cache
data-platform/**/logs
data-platform/**/target
data-platform/dbt/**/profiles.yml
data-platform/dbt/**/.user.yml
data-platform/**/*.pyc
data-platform/**/*.log
