<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <title>
        {% block title %}
            Gestion Commandes
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.min.css') }}">

</head>


<body>


<div class="app-container">


    {% include 'components/sidebar.html.twig' %}


    <main class="main-content">


        {% include 'components/navbar.html.twig' %}


        <section class="page-content">

            {% block body %}

            {% endblock %}

        </section>


    </main>


</div>


</body>

{% block javascripts %}

{% endblock %}

</html>
