<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <title>
        {% block title %}
            Gestion Commandes
        {% endblock %}
    </title>


    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <link rel="stylesheet" href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.min.css') }}">


</head>


<body class="auth-page">


    {% block body %}

    {% endblock %}


</body>


</html>
