<aside class="sidebar">


    <div class="logo">
        Commandes+
    </div>


    <nav>


        <a href="{{ path('user_list') }}">
            <i class="bi bi-people"></i>
            <span>Utilisateurs</span>
        </a>


        

    </nav>


</aside>